@media only screen and (min-width: 0px) and (max-width: 768px) {
    .navbar_nombre {
        font-size: 20px;
    }

    .navbar {
        background-color: black;
        width: 100%;
        top: 0;
        z-index: 200;
        position: fixed;
        border: 1px #2bff00 solid;;
    }

    .nav-item{
        padding: 2px;
        border-top: 1px #2bff00 solid;
    }

    .navbar-toggler{
        background-color: #2bff00;
    }
}

@media only screen and (min-width: 769px) {
    .navbar_nombre {
        font-size: 20px;
    }

    .div_navbar-df {
        display: flex;
        justify-content: end;
    }

    .navbar {
        background-color: black;
        width: 100%;
        height: 80px;
        top: 0;
        z-index: 200;
        position: fixed;
    }
}