.card {
    background-color: #222;

    a {
        text-decoration: none;
    }
}



@media only screen and (min-width: 0px) and (max-width: 768px) {
    img {
        width: 150px;
    }

    .inicio {
        padding: 20px 0;
        display: flex;
        flex-direction: column;

        img {
            margin-top: 30px;
            border-radius: 100%;
        }

        .div_inicio_h2 {
            text-align: center;
            font-size: 45px;
        }

        .div_inicio_h3 {
            text-align: center;
            font-size: 25px;
        }
    }

    .sobremi_h1 {
        border: 1px #2bff00 solid;
        margin: 60px 0;
        padding: 15px 0;
    }

    .sobremi_div_p {
        padding: 10px 40px;
    }

    .img_sobremi {
        display: none;
    }

    .sobremi_h1 {
        border: 1px #2bff00 solid;
        margin: 60px 0;
        padding: 15px 0;

    }

    .div_habilidades-df {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .div_habilidades-pd {
            padding-bottom: 30px;
        }
    }

    .portfolio_h1 {
        border: 1px #2bff00 solid;
        margin: 60px 0;
        padding: 15px 0;
    }
}

@media only screen and (min-width: 769px) {
    img {
        width: 250px;
    }

    .div_50 {
        width: 50%;
    }

    .inicio {
        border-top: 1px #2bff00 solid;
        height: 300px;

        img {
            border-radius: 100%;
        }

        .div_inicio_h2 {
            text-align: center;
            font-size: 60px;
        }

        .div_inicio_h3 {
            text-align: center;
            font-size: 40px;
        }
    }

    .sobremi_div_p {
        font-size: 25px;
        padding: 10px;
    }

    .sobremi_h1 {
        border: 1px #2bff00 solid;
        margin: 60px 0;
        padding: 15px 0;
    }

    .portfolio_h1 {
        border: 1px #2bff00 solid;
        margin: 60px 0;
        padding: 15px 0;
    }
}