* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
};

#body {
    background-color: #000000;
};

.verde{
    color: #2bff00
}

@import "header";
@import "index";
@import "footer";